section {
  /* columns: 3; */
  column-rule: 2px solid #000;
}

.mysection {
  background-color: #d7d7d7;
  max-width: 500px;
  min-height: 500px;
  position: relative;
}

/* direct selector */
.mysection > button {
  background-color: cyan;
  border: none;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  /* position: static; */
  /* position: relative; */
  /* position: absolute; */
  /* position: fixed; */
  /* position: sticky; */
  /* top: 100px; */
  right: 30px;
  /* left: 100%; */
  /* right: 50px; */

  /* Display */
  /* display: none; */
  /* display: block; */
  /* display: inline-block; */
  margin-bottom: 30px;
  /* margin-top: 40px; */
  /* display: block; */
  /* display: inline; */
  /* display: inline; */
  /* display: inline-block; */
  /* width: 300px; */
  /* height: 300px; */
}
.mydiv {
  background-color: aqua;
  max-width: 100px;
  margin-top: 10px;
  /* display: inline; */
  display: inline-block;
  width: 400px;
  /* height: 400px; */
}
span {
  margin-top: 40px;
  margin-bottom: 60px;
  display: inline-block;
  background-color: aquamarine;
  width: 500px;
}

.flex {
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */
  min-height: 100px;
  /* max-width: 500px; */
  background-color: #d7d7d7;

  /* justify-content */
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: start; */
  /* justify-content: space-around;
  justify-content: space-between; */
  /* justify-content will deal with horizontal alignment */
  justify-content: center;

  /* align items will deal with vertical alignment */
  align-items: center;

  /* align-content */
  /* it align the lines */
  align-content: space-between;

  /* align-items: flex-end; */
  flex-wrap: wrap;
}
.flex .div {
  /* order: 2; */
  background-color: aqua;
  flex-basis: 500px;
  /* flex-grow: 1; */
}

.div2 {
  background-color: red;
  flex-basis: 500px;
  /* flex-grow: 1; */
  /* flex-shrink: 2; */
}
/* prefixes */
/* -webkit- */
/* -moz- */
/* -ms- */
/* -o- */
.div3 {
  backdrop-filter: grayscale(1.5);

  -webkit-backdrop-filter: blur(10px);
  /* background-color: cadetblue; */
  position: fixed;
  min-height: 100px;
  top: 10%;
  display: flex;
  -moz-box-flex: ;
}
